<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${TARGET_NAME}</string>
	<key>CFBundleName</key>
	<string>${TARGET_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.macromates.${APP_NAME}.${TARGET_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>B211F27A-806A-47D3-952C-A8545AA8918E</key>
		<string>TextMateQuickLookGeneratorPlugInFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>B211F27A-806A-47D3-952C-A8545AA8918E</string>
		</array>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.source-code</string>
				<string>public.ada-source</string>
				<string>com.apple.applescript.text</string>
				<string>com.apple.applescript.script</string>
				<string>com.adobe.actionscript</string>
				<string>com.microsoft.asp</string>
				<string>com.microsoft.asp.net</string>
				<string>org.tug.tex.bibtex</string>
				<string>public.c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>com.microsoft.c-sharp</string>
				<string>org.coffeescript.coffeescript</string>
				<string>org.contextfreeart.contextfree</string>
				<string>public.comma-separated-values-text</string>
				<string>public.tab-separated-values-text</string>
				<string>com.macromates.textmate.cgi-script</string>
				<string>com.macromates.textmate.config-file</string>
				<string>org.w3.css</string>
				<string>public.patch-file</string>
				<string>org.w3.xml-dtd</string>
				<string>public.dylan-source</string>
				<string>org.erlang.erlang</string>
				<string>org.fscript.fscript</string>
				<string>public.fortran-source</string>
				<string>public.fortran-77-source</string>
				<string>public.fortran-90-source</string>
				<string>public.fortran-95-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>com.macromates.textmate.gtd</string>
				<string>org.haskell.haskell</string>
				<string>public.html</string>
				<string>com.macromates.textmate.include-file</string>
				<string>com.apple.ical.ics</string>
				<string>com.microsoft.ini</string>
				<string>org.iolanguage.io</string>
				<string>com.sun.java-source</string>
				<string>org.beanshell.beanshell</string>
				<string>com.sun.java-properties</string>
				<string>com.netscape.javascript-source</string>
				<string>com.sun.java-server-pages</string>
				<string>public.json</string>
				<string>org.ietf.ldap-data-interchange-format</string>
				<string>com.macromates.textmate.lisp</string>
				<string>com.apple.log</string>
				<string>com.macromates.textmate.logo</string>
				<string>org.lua.lua</string>
				<string>net.daringfireball.markdown</string>
				<string>org.mediawiki.wiki-source</string>
				<string>com.mips.mips-assembler</string>
				<string>com.dec.modula-3</string>
				<string>in.moinmo.wiki-source</string>
				<string>public.objective-c-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>org.ocaml.ocaml</string>
				<string>public.pascal-source</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>com.apple.property-list</string>
				<string>public.python-script</string>
				<string>org.r-project.r</string>
				<string>org.complang.ragel</string>
				<string>com.roaringpenguin.remind</string>
				<string>org.python.restructuredtext</string>
				<string>org.ruby-lang.eruby</string>
				<string>org.rubyonrails.erb-sql</string>
				<string>public.ruby-script</string>
				<string>com.macromates.textmate.scheme</string>
				<string>com.macromates.textmate.setext</string>
				<string>public.shell-script</string>
				<string>org.slatelanguage.slate</string>
				<string>org.iso.sql</string>
				<string>com.macromates.textmate.standard-ml</string>
				<string>com.apple.xcode.strings-text</string>
				<string>public.svg-image</string>
				<string>org.swig.swig</string>
				<string>tk.tcl.tcl</string>
				<string>org.tug.tex</string>
				<string>public.plain-text</string>
				<string>com.textpattern.textile</string>
				<string>public.xhtml</string>
				<string>public.xml</string>
				<string>org.w3.xsl</string>
				<string>public.vcard</string>
				<string>com.microsoft.visual-basic</string>
				<string>org.yaml.yaml</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
