[submodule "bin/CxxTest"]
	path = bin/CxxTest
	url = http://github.com/textmate/cxxtest.git
[submodule "vendor/MASPreferences/vendor"]
	path = vendor/MASPreferences/vendor
	url = http://github.com/textmate/MASPreferences.git
[submodule "rmate"]
	path = rmate
	url = http://github.com/textmate/rmate.git
[submodule "vendor/MGScopeBar/vendor"]
	path = vendor/MGScopeBar/vendor
	url = http://github.com/textmate/MGScopeBar.git
[submodule "Applications/TextMate/icons"]
	path = Applications/TextMate/icons
	url = http://github.com/textmate/document-icons.git
[submodule "PlugIns/dialog-1.x"]
	path = PlugIns/dialog-1.x
	url = http://github.com/textmate/dialog-1.x.git
[submodule "PlugIns/dialog"]
	path = PlugIns/dialog
	url = http://github.com/textmate/dialog.git
