[submodule "bin/CxxTest"]
	path = bin/CxxTest
	url = https://github.com/textmate/cxxtest.git
[submodule "vendor/MASPreferences/vendor"]
	path = vendor/MASPreferences/vendor
	url = https://github.com/textmate/MASPreferences.git
[submodule "rmate"]
	path = rmate
	url = https://github.com/textmate/rmate.git
[submodule "vendor/MGScopeBar/vendor"]
	path = vendor/MGScopeBar/vendor
	url = https://github.com/textmate/MGScopeBar.git
[submodule "Applications/TextMate/icons"]
	path = Applications/TextMate/icons
	url = https://github.com/textmate/document-icons.git
[submodule "PlugIns/dialog-1.x"]
	path = PlugIns/dialog-1.x
	url = https://github.com/textmate/dialog-1.x.git
[submodule "PlugIns/dialog"]
	path = PlugIns/dialog
	url = https://github.com/textmate/dialog.git
[submodule "vendor/XcodeEditor/vendor"]
	path = vendor/XcodeEditor/vendor
	url = https://github.com/textmate/xcode-editor.git
[submodule "vendor/Onigmo/vendor"]
	path = vendor/Onigmo/vendor
	url = https://github.com/textmate/Onigmo.git
[submodule "vendor/kvdb/vendor"]
	path = vendor/kvdb/vendor
	url = https://github.com/textmate/kvdb.git
