{	fileTypes = ( src );
	scopeName = 'source.untitled';

	patterns = (
		{	name = 'keyword.control.untitled';
			match = '\\b(if|while|for|return)\\b';
		},
		{	name = 'string.quoted.double.untitled';
			begin = '\"'; end = '\"';
			patterns = (
				{	name = 'constant.character.escape.untitled';
					match = '\\\\.';
				}
			);
		},
	);
}
