{	author = "$TM_FULLNAME";
	colorSpaceName = "sRGB";
	semanticClass = "theme.dark.untitled";
	settings = (
		{	settings = {
				foreground    = "#000000";
				background    = "#FFFFFF";
				caret         = "#000000";
				selection     = "#4D97FF54";
				invisibles    = "#BFBFBF";
				lineHighlight = "#00000012";
			};
		},
		{ name = "Comment";               scope = "comment";                            settings = { }; },
		{ name = "String";                scope = "string";                             settings = { }; },
		{ name = "Number";                scope = "constant.numeric";                   settings = { }; },
		{ name = "Built-in constant";     scope = "constant.language";                  settings = { }; },
		{ name = "User-defined constant"; scope = "constant.character, constant.other"; settings = { }; },
		{ name = "Variable";              scope = "variable.language, variable.other";  settings = { }; },
		{ name = "Keyword";               scope = "keyword";                            settings = { }; },
		{ name = "Storage";               scope = "storage";                            settings = { }; },
		{ name = "Class name";            scope = "entity.name.class";                  settings = { }; },
		{ name = "Inherited class";       scope = "entity.other.inherited-class";       settings = { }; },
		{ name = "Function name";         scope = "entity.name.function";               settings = { }; },
		{ name = "Function argument";     scope = "variable.parameter";                 settings = { }; },
		{ name = "Tag name";              scope = "entity.name.tag";                    settings = { }; },
		{ name = "Tag attribute";         scope = "entity.other.attribute-name";        settings = { }; },
		{ name = "Library function";      scope = "support.function";                   settings = { }; },
		{ name = "Library constant";      scope = "support.constant";                   settings = { }; },
		{ name = "Library class/type";    scope = "support.type, support.class";        settings = { }; },
		{ name = "Library variable";      scope = "support.other.variable";             settings = { }; },
		{ name = "Invalid";               scope = "invalid";                            settings = { }; },
	);
}
