{
	blank                = (  );
	
	text                 = ( mail, eml, man, txt, text, utf8, README, INSTALL, LICENSE, AUTHORS, ChangeLog );
	structured_text      = ( bbcode, mdown, markdown, markdn, md, mmd, rst, rest, etx, etx.txt, textile, t2t );
	web                  = ( html, htm, shtml, xhtml );
	template             = ( tmpl, tpl, mtml, erb, rhtml, html.erb, inc, asp, aspx, ascx, cfm, cfml, cfc, yaws, mhtml, autohandler, dhandler, mc, tt, adp, gsp );
	log                  = ( log );
	angle_brackets_green = ( jsp, php, php3, php4, php5, phpt, phtml, aw, ctp );
	angle_brackets_brown = ( dist, xml, tld, pt, cpt, dtml, rss, opml, xsl, xslt );
	brackets             = ( m, mm, M );
	braces               = ( go );
	list                 = ( gtd, gtdlog, properties, json, strings, plist, dict, scriptsuite, scriptterminology, savedsearch, defs.rem, reminders, TODO, tasks, todolist, yaml, yml );
	grid                 = ( css, css.erb, scss, sass, less, sql );
	tree_structure       = ( dot, rl, proto, capnp );
	config_file          = ( conf, htaccess, config, gitconfig, gitignore, gitmodules, ini, cfg, capfile, ssh_config, sshd_config, tm_properties, tmproperties, ant.xml, build.xml, pro, pri, cmake, cmakelists.txt, Makefile, gnumakefile, ocamlmakefile, pom.xml, cm, Rakefile, rake, target, portfile, gemspec, gemfile, ninja, project.clj, xcodeproj );

	c                    = ( c, cc, cxx, cpp, 'c++' );
	javascript           = ( js, htc, jsx, jsfl, js.erb );
	ruby                 = ( rb, rbx, rjs, cgi, fcgi, irbrc, rxml, builder );
	python               = ( py, rpy, pyw, cpy, sconstruct, sconscript );
	header               = ( h, hh, hpp, "h++" );
	latex                = ( lhs, tex, sty, cls );
	latex_alt            = ( bib, rd, snw, rnw );
	
	grey                 = ( diff, patch, csv, tsv, sh, bash, zsh, bashrc, bash_profile, bash_login, profile, bash_logout );
	charcoal             = ( commit_editmsg, git-rebase-todo, svn-commit.tmp, svn-commit.2.tmp, portfile, gemspec, gemfile, erbsql, sql.erb );
	blue                 = ( groovy, gvy, gradle, java, bsh );
}
