{	encodings = (
		{	name = 'Arabic – AIX'; code = 'CP1046'; },
		{	name = 'Arabic – DOS'; code = 'CP864'; },
		{	name = 'Arabic – ISO 8859-6'; code = 'ISO-8859-6'; },
		{	name = 'Arabic – Mac OS'; code = 'MACARABIC'; },
		{	name = 'Arabic – Windows'; code = 'CP1256'; },
		{	name = 'Armenian – ARMSCII-8'; code = 'ARMSCII-8'; },
		{	name = 'Baltic Rim – AIX'; code = 'CP922'; },
		{	name = 'Baltic Rim – DOS'; code = 'CP775'; },
		{	name = 'Baltic Rim – ISO Latin 7'; code = 'ISO-8859-13'; },
		{	name = 'Baltic Rim – Windows'; code = 'CP1257'; },
		{	name = 'Belarusian – KOI8-RU'; code = 'KOI8-RU'; },
		{	name = 'Celtic – ISO Latin 8'; code = 'ISO-8859-14'; },
		{	name = 'Central European – ISO Latin 2'; code = 'ISO-8859-2'; },
		{	name = 'Central European – ISO Latin 4'; code = 'ISO-8859-4'; },
		{	name = 'Central European – Mac OS'; code = 'MACCENTRALEUROPE'; },
		{	name = 'Central European – Windows Latin 2'; code = 'CP1250'; },
		{	name = 'Chinese – GB18030'; code = 'GB18030'; },
		{	name = 'Chinese – GBK'; code = 'GBK'; },
		{	name = 'Chinese – ISO-2022-CN'; code = 'ISO-2022-CN'; },
		{	name = 'Chinese – ISO-2022-CN-EXT'; code = 'ISO-2022-CN-EXT'; },
		{	name = 'Chinese, Simplified – GB 2312'; code = 'CN-GB'; },
		{	name = 'Chinese, Simplified – GB 2312-80'; code = 'CHINESE'; },
		{	name = 'Chinese, Simplified – GB_1988-80'; code = 'GB_1988-80'; },
		{	name = 'Chinese, Simplified – HZ-GB-2312'; code = 'HZ-GB-2312'; },
		{	name = 'Chinese, Simplified – ISO-IR-165'; code = 'CN-GB-ISOIR165'; },
		{	name = 'Chinese, Simplified – Windows, DOS GBK'; code = 'CP936'; },
		{	name = 'Chinese, Traditional – BIG5'; code = 'BIG5'; },
		{	name = 'Chinese, Traditional – BIG5-2003'; code = 'BIG5-2003'; },
		{	name = 'Chinese, Traditional – BIG5-HKSCS:1999'; code = 'BIG5-HKSCS:1999'; },
		{	name = 'Chinese, Traditional – BIG5-HKSCS:2001'; code = 'BIG5-HKSCS:2001'; },
		{	name = 'Chinese, Traditional – BIG5-HKSCS:2004'; code = 'BIG5-HKSCS:2004'; },
		{	name = 'Chinese, Traditional – EUC-TW'; code = 'EUC-TW'; },
		{	name = 'Chinese, Traditional – Tru64'; code = 'DEC-HANYU'; },
		{	name = 'Chinese, Traditional – Windows, DOS'; code = 'CP950'; },
		{	name = 'Croatian – Mac OS'; code = 'MACCROATIAN'; },
		{	name = 'Cyrillic – CP154'; code = 'CP154'; },
		{	name = 'Cyrillic – DOS Cyrillic 1'; code = 'CP855'; },
		{	name = 'Cyrillic – DOS Cyrillic 2'; code = 'CP866'; },
		{	name = 'Cyrillic – ISO'; code = 'ISO-8859-5'; },
		{	name = 'Cyrillic – KOI8-R'; code = 'KOI8-R'; },
		{	name = 'Cyrillic – Mac OS'; code = 'MACCYRILLIC'; },
		{	name = 'Cyrillic – Windows'; code = 'CP1251'; },
		{	name = 'Georgian – Academy'; code = 'GEORGIAN-ACADEMY'; },
		{	name = 'Georgian – PS'; code = 'GEORGIAN-PS'; },
		{	name = 'Greek – DOS Greek 1'; code = 'CP737'; },
		{	name = 'Greek – DOS Greek 2'; code = 'CP869'; },
		{	name = 'Greek – ISO 8859-7'; code = 'ISO-8859-7'; },
		{	name = 'Greek – Mac OS'; code = 'MACGREEK'; },
		{	name = 'Greek – Windows'; code = 'CP1253'; },
		{	name = 'Hebrew – ISO 8859-8'; code = 'ISO-8859-8'; },
		{	name = 'Hebrew – Mac OS'; code = 'MACHEBREW'; },
		{	name = 'Hebrew – MS-DOS'; code = 'CP862'; },
		{	name = 'Hebrew – PC-DOS'; code = 'CP856'; },
		{	name = 'Hebrew – Windows'; code = 'CP1255'; },
		{	name = 'Icelandic – DOS'; code = 'CP861'; },
		{	name = 'Icelandic – Mac OS'; code = 'MACICELAND'; },
		{	name = 'Japanese – EUC-JP'; code = 'EUC-JP'; },
		{	name = 'Japanese – ISO-2022-JP'; code = 'ISO-2022-JP'; },
		{	name = 'Japanese – ISO-2022-JP-1'; code = 'ISO-2022-JP-1'; },
		{	name = 'Japanese – ISO-2022-JP-2'; code = 'ISO-2022-JP-2'; },
		{	name = 'Japanese – ISO646-JP'; code = 'ISO-IR-14'; },
		{	name = 'Japanese – JIS X 0201'; code = 'JISX0201-1976'; },
		{	name = 'Japanese – JIS X 0208'; code = 'ISO-IR-87'; },
		{	name = 'Japanese – JIS X 0212'; code = 'ISO-IR-159'; },
		{	name = 'Japanese – Shift JIS'; code = 'SHIFT_JIS'; },
		{	name = 'Japanese – Tru64'; code = 'DEC-KANJI'; },
		{	name = 'Japanese – Windows Shift-JIS CP932'; code = 'CP932'; },
		{	name = 'Japanese – Windows Shift-JIS CP943'; code = 'CP943'; },
		{	name = 'Korean – EUC-KR'; code = 'EUC-KR'; },
		{	name = 'Korean – ISO-2022-JP'; code = 'ISO-2022-KR'; },
		{	name = 'Korean – ISO-IR-149'; code = 'ISO-IR-149'; },
		{	name = 'Korean – JOHAB'; code = 'CP1361'; },
		{	name = 'Korean – Windows, DOS'; code = 'CP949'; },
		{	name = 'Laothian – CP1133'; code = 'CP1133'; },
		{	name = 'Laothian – MULELAO-1'; code = 'MULELAO-1'; },
		{	name = 'Nordic – DOS'; code = 'CP865'; },
		{	name = 'Nordic – ISO Latin 6'; code = 'ISO-8859-10'; },
		{	name = 'Portuguese – DOS'; code = 'CP860'; },
		{	name = 'Romanian – ISO Latin 10'; code = 'ISO-8859-16'; },
		{	name = 'Romanian – Mac OS'; code = 'MACROMANIA'; },
		{	name = 'Tajik – KOI8-T'; code = 'KOI8-T'; },
		{	name = 'Thai – CP1161'; code = 'CP1161'; },
		{	name = 'Thai – CP1162'; code = 'CP1162'; },
		{	name = 'Thai – ISO 8859-11'; code = 'ISO-8859-11'; },
		{	name = 'Thai – Mac OS'; code = 'MACTHAI'; },
		{	name = 'Thai – TIS-620'; code = 'ISO-IR-166'; },
		{	name = 'Thai – Windows, DOS'; code = 'CP874'; },
		{	name = 'Turkish – DOS'; code = 'CP857'; },
		{	name = 'Turkish – ISO Latin 5'; code = 'ISO-8859-9'; },
		{	name = 'Turkish – Mac OS'; code = 'MACTURKISH'; },
		{	name = 'Turkish – Windows'; code = 'CP1254'; },
		{	name = 'Turkmen – TDS565'; code = 'ISO-IR-230'; },
		{	name = 'Ukrainian – AIX'; code = 'CP1124'; },
		{	name = 'Ukrainian – DOS'; code = 'CP1125'; },
		{	name = 'Ukrainian – KOI8-U'; code = 'KOI8-U'; },
		{	name = 'Ukrainian – Mac OS'; code = 'MACUKRAINE'; },
		{	name = 'Unicode – UTF-8'; code = 'UTF-8'; },
		{	name = 'Unicode – UTF-16BE'; code = 'UTF-16BE'; },
		{	name = 'Unicode – UTF-16LE'; code = 'UTF-16LE'; },
		{	name = 'Unicode – UTF-32BE'; code = 'UTF-32BE'; },
		{	name = 'Unicode – UTF-32LE'; code = 'UTF-32LE'; },
		{	name = 'Vietnamese – AIX'; code = 'CP1129'; },
		{	name = 'Vietnamese – CP1163'; code = 'CP1163'; },
		{	name = 'Vietnamese – TCVN'; code = 'TCVN'; },
		{	name = 'Vietnamese – VISCII'; code = 'VISCII'; },
		{	name = 'Vietnamese – Windows'; code = 'CP1258'; },
		{	name = 'Western – Atari ST'; code = 'ATARI'; },
		{	name = 'Western – DOS CP858'; code = 'CP858'; },
		{	name = 'Western – DOS French Canadian'; code = 'CP863'; },
		{	name = 'Western – DOS Latin 1'; code = 'CP850'; },
		{	name = 'Western – DOS Latin 2'; code = 'CP852'; },
		{	name = 'Western – DOS Latin 3'; code = 'CP853'; },
		{	name = 'Western – DOS Latin US'; code = 'CP437'; },
		{	name = 'Western – HP-Roman8'; code = 'HP-ROMAN8'; },
		{	name = 'Western – ISO Latin 1'; code = 'ISO-8859-1'; },
		{	name = 'Western – ISO Latin 3'; code = 'ISO-8859-3'; },
		{	name = 'Western – ISO Latin 9'; code = 'ISO-8859-15'; },
		{	name = 'Western – Mac OS Roman'; code = 'MACROMAN'; },
		{	name = 'Western – NeXTSTEP'; code = 'NEXTSTEP'; },
		{	name = 'Western – RISC OS Latin 1'; code = 'RISCOS-LATIN1'; },
		{	name = 'Western – Windows'; code = 'WINDOWS-1252'; },
	);
}