{
   tabSpacing     = 1;
   firstTabOffset = 3;
   minTabSize     = 70;
   maxTabSize     = 300;

   backgroundCollapsed = (
      { rect = (   0, W-1,   0,   0 ); color = 'tmWindowDividerColor';           requisite = window_main_or_key; },
      { rect = (   0, W-1,   0,   0 ); color = 'tmWindowDividerColorInactive';   requisiteMask = window_main_or_key; }
   );

   background = (
      { rect = (   0, W-1, H-1, H-1 ); color = 'tmWindowDividerColor';           requisite = window_main_or_key; },
      { rect = (   0, W-1,   2, H-2 ); color = 'tmTabBarColor';                  requisite = window_main_or_key; },
      { rect = (   0, W-1,   1,   1 ); color = 'tmTabBarHighlightColor';         requisite = window_main_or_key; },
      { rect = (   0, W-1,   0,   0 ); color = 'tmTabBarDividerColor';           requisite = window_main_or_key; },

      { rect = (   0, W-1, H-1, H-1 ); color = 'tmWindowDividerColorInactive';   requisiteMask = window_main_or_key; },
      { rect = (   0, W-1,   2, H-2 ); color = 'tmTabBarColorInactive';          requisiteMask = window_main_or_key; },
      { rect = (   0, W-1,   1,   1 ); color = 'tmTabBarHighlightColorInactive'; requisiteMask = window_main_or_key; },
      { rect = (   0, W-1,   0,   0 ); color = 'tmTabBarDividerColorInactive';   requisiteMask = window_main_or_key; },

      { rect = (   0,   W,   2, H-2 ); action = 'didDoubleClickTabBar:';         requisite = mouse_double_clicked; },
   );

   tabSplitter = (
       // Splitter between tabs (1 px to the right of our current)
       { rect = (   W,   W,  1, H-1 ); color = 'tmWindowDividerColor';           requisite = window_main_or_key; },
       { rect = (   W,   W,  1, H-1 ); color = 'tmWindowDividerColorInactive';   requisiteMask = window_main_or_key; },

       // Splitter between tabs (1 px to the left of our current), except first
       { rect = (  -1,  -1,  1, H-1 ); color = 'tmWindowDividerColor';           requisite = window_main_or_key; requisiteMask = 'window_main_or_key|first'; },
       { rect = (  -1,  -1,  1, H-1 ); color = 'tmWindowDividerColorInactive';   requisiteMask = 'window_main_or_key|first'; },
   );

   tab = (
      { include = tabSplitter; },

      // Background – first tab
      { rect = ("-${firstTabOffset}", W-2,   2, H-2 ); color = 'tmTabHoverColor'; requisite = 'window_main_or_key|mouse_inside|first'; requisiteMask = 'window_main_or_key|mouse_inside|first'; },
      { rect = ("-${firstTabOffset}", W-2,   2, H-2 ); color = 'tmTabHoverColorInactive'; requisite = 'mouse_inside|first'; requisiteMask = 'window_main_or_key|mouse_inside|first'; },
      
      // Background – other tabs
      { rect = ( 1,  W-2,   2, H-2 ); color = 'tmTabHoverColor'; requisite = 'window_main_or_key|mouse_inside'; requisiteMask = 'window_main_or_key|mouse_inside|first'; },
      { rect = ( 1,  W-2,   2, H-2 ); color = 'tmTabHoverColorInactive'; requisite = 'mouse_inside'; requisiteMask = 'window_main_or_key|mouse_inside|first'; },

      { include = tabMain; },
   );

   tabSelected = (
      { include = tabSplitter; },

      // Erase remainings from tab splitters
      { rect = (  -1,   0,   2,   4 ); color = 'tmTabBarColor'; requisite = window_main_or_key; },
      { rect = ( W-1,   W,   2,   4 ); color = 'tmTabBarColor'; requisite = window_main_or_key; },
      { rect = (  -1,   0,   2,   4 ); color = 'tmTabBarColorInactive'; requisiteMask = window_main_or_key; },
      { rect = ( W-1,   W,   2,   4 ); color = 'tmTabBarColorInactive'; requisiteMask = window_main_or_key; },
      { rect = (  -1,   0,   1,   1 ); color = 'tmTabBarHighlightColor'; requisite = window_main_or_key; },
      { rect = ( W-1,   W,   1,   1 ); color = 'tmTabBarHighlightColor'; requisite = window_main_or_key; },
      { rect = (  -1,   0,   1,   1 ); color = 'tmTabBarHighlightColorInactive'; requisiteMask = window_main_or_key; },
      { rect = ( W-1,   W,   1,   1 ); color = 'tmTabBarHighlightColorInactive'; requisiteMask = window_main_or_key; },

      // Round tab
      { rect = (   0,  W-1,  3, "H+2" ); color = 'windowBackgroundColor'; borderColor = 'tmWindowDividerColor'; cornerRadius = 3; requisite = window_main_or_key; },
      { rect = (   0,  W-1,  3, "H+2" ); color = 'windowBackgroundColor'; borderColor = 'tmWindowDividerColorInactive'; cornerRadius = 3; requisiteMask = window_main_or_key; },

      { include = tabMain; },
   );

   // ============
   // = Includes =
   // ============

   tabMain = (
      { rect = (   1, W-2,   2, H-2 ); action = 'selectTab:'; requisite = mouse_clicked; toolTip = 1; },
      { rect = (   1, W-2,   2, H-2 ); action = 'dragTab:'; requisite = mouse_dragged; },
      { rect = (   1, W-2,   2, H-2 ); action = 'didDoubleClickTab:'; requisite = mouse_double_clicked; },
      { rect = (  23, W-8,   4, H-5 ); text = { shadow = 1; }; requisiteMask = overflow; },
      { rect = (  23, W-20,  4, H-5 ); text = { shadow = 1; }; requisite = overflow; },

      { rect = (   3,  14,   4,  16 ); requisiteMask = 'mouse_inside|modified';               requisite = '';                                    image = "TabClose";                  },
      { rect = (   3,  14,   4,  16 ); requisiteMask = 'mouse_inside|modified';               requisite = 'modified';                            image = "TabClose_Modified";         },
      { rect = (   3,  14,   4,  16 ); requisiteMask = 'mouse_inside|modified|mouse_clicked'; requisite = 'mouse_inside';                        image = "TabClose_Rollover";         },
      { rect = (   3,  14,   4,  16 ); requisiteMask = 'mouse_inside|modified|mouse_clicked'; requisite = 'mouse_inside|modified';               image = "TabClose_ModifiedRollover"; },
      { rect = (   3,  14,   4,  16 ); requisiteMask = 'mouse_inside|modified|mouse_clicked'; requisite = 'mouse_clicked|mouse_inside';          image = "TabClose_Pressed";          },
      { rect = (   3,  14,   4,  16 ); requisiteMask = 'mouse_inside|modified|mouse_clicked'; requisite = 'mouse_clicked|mouse_inside|modified'; image = "TabClose_ModifiedPressed";  },
      { rect = ( W-16, W-1,  6,  17 ); requisiteMask = 'overflow';                            requisite = 'overflow';                            image = "TabOverflow";               },

      { rect = (   3,  14,   4,  16 ); requisiteMask = 'mouse_clicked|option';   requisite = 'mouse_clicked';          action = 'performCloseTab:';       preventWindowOrdering = 1; },
      { rect = (   3,  14,   4,  16 ); requisiteMask = 'mouse_clicked|option';   requisite = 'mouse_clicked|option';   action = 'performCloseOtherTabs:'; preventWindowOrdering = 1; },
      { rect = ( W-16, W-1,  4, H-2 ); requisiteMask = 'mouse_clicked|overflow'; requisite = 'mouse_clicked|overflow'; action = 'showOverflowTabMenu:';   preventWindowOrdering = 1; },
   );
}
